.card {
    text-align: left;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    width: 300px;
    border-radius: 2%;
    margin-top: 50px;
}

.outcomeNumber {
    font-size: 0.75em;
    margin: 0px;
}

.title {
    margin: 0px;
    font-size: 1.25em;
    font-weight: 700;
}

.description {
    font-weight: 400;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.summary {
    font-weight: 500;
    font-size: 1em;
    margin: 0px;
    margin-top: 5px;
}

p {
    margin: 0px;
    font-size: 0.75em;
}