.Card {
    text-align: left;
    background-color: #34b4eb;
    color: white;
    width: 30%;
    min-width: 500px;
    max-width: 600px;
    height: max-content;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.TinyCard {
    text-align: left;
    background-color: #34b4eb;
    color: white;
    width: 100%;
    height: max-content;
    margin-top: 50px;
}

.HeaderSection {
    padding: 20px;
}

.Header {
    font-size: 0.9rem;
}

.Title {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 600;
}

.Summary {
    font-size: 0.9rem;
}

.ProblemProfileContainer {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    height: 40px;
}

.DarkTab {
    background-color: #313131;
    padding: 20px;
}

.DarkTab__trigger {
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    .Trigger {
        margin: 0px;
        font-size: 1.1rem;
        width: 90%;
    }

    svg {
        margin-left: auto;
    }

    &.is-open svg {
        transition: transform 300ms;
        transform: rotate(180deg);
    }

    &.is-closed svg {
        transition: transform 300ms;
    }
}

.LightTab {
    background-color: #34b4eb;
    padding: 20px;
}

.LightTab__trigger {
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    .Trigger {
        margin: 0px;
        font-size: 1.1rem;
        width: 90%;
    }

    svg {
        margin-left: auto;
    }

    &.is-open svg {
        transition: transform 300ms;
        transform: rotate(180deg);
    }

    &.is-closed svg {
        transition: transform 300ms;
    }
}

.DropdownText {
    font-size: 0.9rem;
    margin-top: 20px;
}

.DropdownPoint {
    font-size: 0.9rem;
}

.ProgressBarContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}