.ModalContentTable {
    width: 100%;
    border-collapse: collapse;
}

.ModalTableRow {
    min-height: 3rem;
    width: 50%;
    display: inline-flex;
    border-bottom: 1px solid #f5f5f5;
    font-size: 0.7rem;
}

.ModalRow {
    padding-left: 13px;
    padding-right: 13px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.ModalRow.Name {
    font-weight: 600;
    text-align: left;
}

.ModalRow.TextValue {
    border-right: 1px solid #f5f5f5;
    text-align: right;
    font-weight: 400;
    justify-content: flex-end;
}

.ModalRow.BarValue {
    border-right: 1px solid #f5f5f5;
    text-align: right;
    font-weight: 400;
}