.ModalHidden {
    display: none;
}

.ModalBackground {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    position: fixed;
}

.ModalBody {
    width: 700px;
    height: 700px;
    margin-top: 100px;
    background-color: white;
    z-index: 11;
    border-radius: 12px;
    overflow: hidden;
}

.ModalHeaderContainer {
    height: 200px;
    position: relative;
}

.ModalHeaderTextContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.ModalCountryName {
    margin: 0;
    color: white;
    width: 100%;
    font-weight: 700;
}

.ModalContinentName {
    color: white;
    width: 50%;
    font-weight: 500;
    margin: 0 auto;
    font-size: 1rem;
}

.ModalImage {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    overflow-clip-margin: content-box;
    overflow: clip;
}

.ModalContent {
    position: relative;
    top: 0;
    min-height: 100%;
}

.ModalScroll {
    position: absolute;
    top: 0;
    background-color: #fbfaf8;
    height: 40px;
    z-index: 15;
    cursor: pointer;
    padding: 11px;
    display: block;
    border-right: 1px solid #dddddd;
    box-sizing: border-box;
}

.ModalScroll.Disabled {
    display: none;
}

.LeftTab {
    left: 0;
    box-shadow: -2px -2px 6px rgba(0,0,0,.25);
}

.RightTab {
    right: 0;
    box-shadow: 2px -2px 6px rgba(0,0,0,.25);
}

.ModalScrollArrow {
    width: 20px;
    height: 20px;
}

.ModalNavTabs {
    height: 40px;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    overflow-y: hidden;
}

.ModalTabScroll {
    white-space: nowrap;
    height: 56px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.CategoryTab {
    cursor: pointer;
    font-weight: 700;
    line-height: 41px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.CategoryTab > p {
    font-size: 1rem;
}

.CategoryTab:hover {
    border-bottom: 2px solid #63ceff;
    color: #63ceff;
}